<a href="https://colab.research.google.com/github/edydev85/colab_mlMastery/blob/main/4_Pandas_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

# Pandas Series
Uma Series em panda é um objeto que equivale a uma coluna.
É um array unidimensional

In [5]:
# estamos criando uma serie em pandas cujo indice são os nomes das linhas
# o indice default é sequencia numerica
array = np.array([1,2,3])
nome_linhas = ['a', 'b', 'c']
pandas_series = pd.Series(array, index=nome_linhas)
print(pandas_series)

a    1
b    2
c    3
dtype: int64

In [9]:
print(pandas_series[2])
print(pandas_series['b'])

3
2

# Dataframes

Um dataframe é um array multidimensional. Em geral, bidimensional

In [10]:
array3 = ([1,2,3],[4,5,6])
rownames = ['a', 'b']
colnames = ['one', 'two', 'three']
df = pd.DataFrame(array3, index=rownames, columns=colnames)
print(df)

   one  two  three
a    1    2      3
b    4    5      6